﻿

@section scripts{
    <script type="text/javascript" src="~/Scripts/App/app.js"></script>
    <script type="text/javascript" src="~/Scripts/App/controllers/TodoController.js"></script>
    <script type="text/javascript" src="~/Scripts/App/services/TodoService.js"></script>
}

<div class="todo-wrapper" ng-controller="TodoController">
    <h2>You have got <span class="emphasis">{{ todos.length }}</span> things to do</h2>

    <ul ng-repeat="todo in todos | orderBy:'id'">
        <li class="editing-{{todo.editing}}">
            <input type="checkbox" ng-click="done(todo)" ng-checked="{{todo.done}}" ng-hide="todo.editing">
            <span class="done-{{todo.done}}" ng-dblclick="renameTodo(todo)" ng-hide="todo.editing">{{ todo.task }}</span>
            
            <form ng-submit="editTodo(todo)" ng-show="todo.editing">
                <input class="edit-input" ng-model="todo.task">
            </form>
        </li>
    </ul>

    <form ng-submit="createTodo()">
        <input type="text" class="add-input" placeholder="I need to..." ng-model="task" required/>
        <button type="submit" class="add-btn"><h2>Add</h2></button>
    </form>

    <button class="clear-btn" ng-click="clearTodoCompleted()">Clear completed</button>

</div>

